<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>TootRain</Name>
    <Version>1.1.0</Version>
    <Title>TootRain Installer</Title>
    <Publisher>b123400</Publisher>
    <StartMenuDir>TootRain</StartMenuDir>
    <TargetDir>@ApplicationsDir@/TootRainQt</TargetDir>
    <RemoteRepositories>
        <Repository>
            <Url>https://b123400.net/tootrain/qt-packages/</Url>
        </Repository>
    </RemoteRepositories>
</Installer>
