#include "winver.h"

IDI_ICON1               ICON    "32x32.ico"

1 VERSIONINFO
    PRODUCTVERSION 0,8,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004B0"
        {
            VALUE "CompanyName",        "b123400\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0000, 0x04B0
    }
}
